<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Delete a course</title>
    
</head>
<body>
    <h2>Are you sure you want to delete the following course?</h2>
    <p>Name:         {{course.name}}</p>
    <p>Description:  {{course.desc}}</p>
    <a class=no href='/'>No</a><a class="delete" href='../delete/{{course.id}}'>Delete Permanently</a> </a>
    
</body>
</html>